*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 600px;
    width :800px;
    background: gray;
    display: grid;    
    /*grid-template-columns: repeat(4,1fr);/*el primer parametro define cuantas columnas son y el segundo el tamaño */
    /* grid-template-columns: 25% 25% 25% 25%;/*define las columnas  */
    /* grid-template-rows: 50% 50%;se defina las filas manual mante */
    /*grid-template-rows: 1fr 1fr 1fr;    
   /* grid-gap:10px 20px;/* hay un espacio  entre filas y columnas*/
   grid: repeat(4,1fr)/ repeat(4,1fr);/*filas/columnas  es lo mismo si pusieramos template columns y template rows*/
    
}
[class^="item"]{ /**todas que empiesen con item**/
    color: white;
}
.item1{
    background: #cfa107;
    grid-column: 1 / 5;
    grid-row: 1/2;
    /*grid-column-start: 1; /* propiedad de donde inicia  la columna */
    /*grid-column-end: 5; /* donde termina */
    /*grid-row-start: 1; /*donde inicia en la fila*/
    /*grid-row-end: 2; /*donde  termina enla columna*/

}
.item2{
    
    background: #156920;
    grid-column:  1/4;
    grid-row: 2/3;
    /* grid-column-start: 1;
    grid-column-end:4 ; */
}
.item3{
    background: #061d50;
    grid-column: 4/5;
    grid-row: 2/4;
    /* grid-column-start:4 ;
    grid-column-end:5;
    grid-row-start: 2;
    grid-row-end: 4; */
}
.item4{
    background: red;
    grid-column: 1/4;
    grid-row: 3/4;
}